%h1 Listing articles
- @articles.each do |article|
  %h2= article.link_with_title
  %article= article.body
  %div
    = article.edit_link
    = article.destroy_link
  %hr
= paginate @articles
= link_to 'New Article', new_article_path
