%p#notice= notice
%h2= @article.link_with_title
%article= @article.body
%div
  = @article.edit_link
  = @article.destroy_link
%hr
  %ul
    - @article.tag_list.each do |tag|
      %li= tag
%hr
= render_cell :comment, :list, article: @article
= render_cell :comment, :form, article: @article
%hr
= link_to 'Back', articles_path
